@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #282a3a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
/* font */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-rocksalt {
  font-family: "Rock Salt", cursive;
}
.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* kiri-tengah-kanan */
  align-items: center;
  padding: 0.5rem 4rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo span {
  font-size: 1.5rem; /* logo lebih besar */
  color: #691a1a; /* warna merah marun */
}

.navbar-menu {
  display: flex;
  gap: 3rem;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 20px;
}

.navbar-menu a:hover {
  color: #ff6600;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}
